/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}
/* misc */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
span a {
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  color: brown;
}

/* mobile */
#site-header {
  background-image: url('../img/header-background.jpg');
}
#site-header img {
  display: block;
  width: 256px;
  margin: 0 auto;
  padding: 2em 0;
}

#site-nav {
  background-image: url('../img/header-background.jpg');
  padding-bottom: 2em;
}
#site-nav ul {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 0 auto;
  border-radius: 16px;
  padding: 0.5em 0;
}
#site-nav li {
  line-height: 2em;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}
#site-nav a {
  color: white;;
  text-decoration: none;
}
#site-nav a:hover {
  color: orange;
  text-decoration: none;
}

#below-nav {
  background: #F5EEC2;
  text-align: center;
  padding: 0 0.5em;
  position: relative;
  top: -20px;
}
#below-nav h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}
#below-nav p {
  line-height: 1.25;
  margin-bottom: 0.5em;
}
#below-nav img {
  width: 256px;
  border-radius: 16px;
  margin: 1em 0;
}

#contact-buttons {
  text-align: center;
}
.btn {
  margin-bottom: 1em;
}
.social-header p {
  display: inline-block;
  line-height: 64px;
  position: relative;
  top: -32px;
  font-family: 'Fredoka One', cursive;
}
.social-header img {
  height: 64px;
}

#site-footer {
  text-align: center;
  background-image: url('../img/bg01.jpg');
  padding: 0.5em 0;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 768px) {

}
